{% extends "layout.html.twig" %}

{% set pageTitle = "Erreur sur le blog" %}

{% block body %}

<h1>Le suuuuuuuper blog de l'AVBN !</h1>
<p>Une erreur est survenue : {{ errorMessage }}</p>

{% endblock %}