{% extends "layout.html.twig" %}

{% set pageTitle = "Erreur sur le blog" %}

{% block body %}

<h1>Le blog de Coralie</h1>

{% if errorMessage is not null %}
    <p>Une erreur est survenue : {{ errorMessage }}</p>
{% endif %}

{% endblock %}