{% extends "layout.html.twig" %}

{% set pageTitle = 'La paaaage d\'accueil' %}

{% block body %}
<h1>Le super blog de Coralie</h1>
<p>Je sui Coralie et j'ai tout plein de choses incroyables à dire. La chaleur du soleil, mon nez qui rougit sous sa brulure lente et perfide, la poussière soulevée par les voitures tonitruantes et malodorantes.</p>


{% endblock %}