{% extends "layout.html.twig" %}

{% block body %}
<div class="mt-3 w-50 mx-auto">
    <form action="/blog/connexion" method="post" class="mb-5">
        <div class="text-danger">
            {{ errorMessage }}
        </div>
        <div class="form-floating">
            <input class="form-control" type="text" id="email" name="email" placeholder="nom ou email" value="{{ email|default(null) }}">
            <label for="email">Nom ou email *</label><br>
        </div>
        <div class="form-floating">
            <input class="form-control" type="password" name="password" id="password" placeholder="mot de passe">
            <label for="password">Mot de passe *</label><br>
        </div>
        <div class="form-floating">
            <input class="btn btn-warning" type="submit" value="Se connecter">
        </div>
    </form>

    <a href="/blog/inscription">Créer un compte</a>
</div>
{% endblock %}