{% extends "layout.html.twig" %}

{% set pageTitle = 'Modifier le commentaire' %}

{% block body %}
<h1>Le blog de Coralie</h1>
<p><a href="">Retour à la liste des billets</a></p>

<h2>Modifier le commentaire</h2>

{% include "component/commentForm.html.twig" with { action: 'updateComment&id=' ~ comment.id|json_encode } %}

{% endblock %}