{% extends "layout.html.twig" %}

{% set pageTitle = 'Modifier un article' %}

{% block body %}

<h1>Modifier l'article "{{ post.title }}"</h1>
{% include "component/postForm.html.twig" with { action: '/blog/article/modifier?id=' ~ post.id } %}

{% endblock %}
