<form action="{{ action }}" method="post">
    <div class="form-floating">
        <input class="form-control" type="text" id="title" name="title" value="{{ comment.title|default(null) }}">
        <label for="title">Titre</label><br />
    </div>
    <div class="form-floating">
        <textarea class="form-control" id="content" name="content" placeholder="commentaire">{{ comment.content|default(null) }}</textarea>
        <label for="content">Commentaire</label><br />
    </div>
    <div class="form-floating">
        <input class="btn btn-warning" type="submit" />
    </div>
</form>